body {
  background: rgb(196,250,116);
}

*{
  margin: 25px;
  padding: 0;
}

.logo {
  width: 250px;
  height: 250px;
  border-radius: 110px;
  position: absolute;
  top: 612.5px;
  left: 481.25px;
}

.home_game {
  border-radius: 25px;
  width: 400px;
  height: 350px;
  background-color: white;
  color: rgba(255,87,87,255);
  text-align: center;
  line-height: 350px;
  position: absolute;
  left: 190px;
}

.visitor_game {
  border-radius: 25px;
  width: 400px;
  height: 350px;
  background-color: white;
  color: rgba(92,225,230,255);
  text-align: center;
  line-height: 350px;
  position: absolute;
  right: 190px;
}

.game_border {
  width: 33.5px;
  height: 375px;
  background-color: rgb(196,250,116);
  position: absolute;
  left: 590px;
  top: 185px;
}

.game_border2 {
  width: 100px;
  height: 350px;
  background-color: white;
  position: absolute;
  left: 557.5px;
}

.set_score {
  border-radius: 25px;
  width: 250px;
  height: 175px;
  background-color: white;
  position: absolute;
  top: 650px;
  left: 50px;
}

.home_set {
  border-radius: 25px;
  width: 130px;
  height: 150px;
  background-color: rgba(255,87,87,255);
  position: absolute;
  top: 662.5px;
  left: 62.5px;
}

.home_set_text {
  position: absolute;
  left: 2.5px;
  z-index: 10;
}

.visitor_set {
  border-radius: 25px;
  width: 130px;
  height: 150px;
  background-color: rgba(92,225,230,255);
  position: absolute;
  top: 662.5px;
  left: 157.5px;
}

.visitor_set_text {
  position: absolute;
  left: 20px;
  z-index: 10;
}

.set_border {
  width: 12.5px;
  height: 175px;
  background-color: white;
  position: absolute;
  top: 650px;
  left: 168.75px;
}

.set_border2 {
  width: 20px;
  height: 150px;
  background-color: rgba(255,87,87,255);
  position: absolute;
  top: 662.5px;
  left: 152.5px;
}

.home_winner_button {
  border-radius: 25px;
  border: 0px;
  width: 400px;
  height: 350px;
  position: absolute;
  left: 190px;
  cursor: pointer;
  background: transparent;
}

.visitor_winner_button {
  border-radius: 25px;
  border: 0px;
  width: 400px;
  height: 350px;
  position: absolute;
  right: 190px;
  cursor: pointer;
  background: transparent;
}

.hide {
  display: none;
}

.home_winner_hover:hover + .hide {
  display: block;
  background: rgba(255,87,87,255);
  border-radius: 25px;
  width: 437.5px;
  height: 375px;
  position: absolute;
  left: 177.5px;
  top: 185px;
  z-index: -1;
  
}

.visitor_winner_hover:hover + .hide {
  display: block;
  background: rgba(92,225,230,255);
  border-radius: 25px;
  width: 437.5px;
  height: 375px;
  position: absolute;
  right: 177.5px;
  top: 185px;
  z-index: -1;
}

h3 {
  color: white;
  font-size: 75px;
  font-family: verdana;
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

h2 {
  font-size: 175px;
  font-family: verdana;
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

h1 {
  font-size: 100px;
  font-family: alexandria;
  font-weight: 900;
  color: white;
  text-align: center;
}

input {
  border-radius: 50%;
  position: absolute;
  top: 600px;
  left: 500px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}