body {
  background: rgb(196,250,116);
}

h1 {
  text-align: center;
}

*{
  margin: 25px;
  padding: 0;
}

.first {
  border-radius: 25px;
  width: 500px;
  height: 375px;
  background-color: white;
  float: left;
  color: rgba(255,87,87,255);
  text-align: center;
}

.second {
  border-radius: 25px;
  width: 500px;
  height: 375px;
  background-color: white;
  float: right;
  color: rgba(92,225,230,255);
  text-align: center;
}


h2 {
  font-size: 247px;
  font-family: verdana;
  font-weight: 900;
}

h1 {
  font-size: 50px;
  font-family: verdana;
  font-weight: 900;
  color: white;
  -webkit-text-stroke: 2px lightgray;
}

.imgsize img {
  height: 100px;
  width: 100px;
}

.buttoncss {
  background: transparent;
  padding: 0;
  border: 0;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}