body {
    background-color: black;
}

.background_image {
    position: fixed;
    top: -20px;
    left: -20px;
    z-index: -2;
    display: block;
    background-image: url("score-sense-background.jpg");
    width: 1920px;
    height: 1200px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

* {
    margin: 0px;
    padding: 0;
}

h1 {
    margin: 25px;
    font-size: 100px;
    font-family: alexandria;
    font-weight: 900;
    color: white;
    text-align: center;
}

.logo {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    position: absolute;
    top: 490px;
    left: 505px;
}

a {
    border-radius: 25px;
    width: 387px;
    height: 250px;
    color: white;
    background-color: rgb(34,46,92);
    text-align: center;
    font-weight: 900;
    font-family: verdana;
    font-size: 40px;
    line-height: 242.5px;
    position: absolute;
    top: 190px;
    text-decoration: none;
}

.score_page_link {
    clip-path: inset(0 37px 0 0);
    left: 265px;
}

.score_page_link:hover {
    background-color: rgb(26,32,59);
}

.score_page_text {
    position: absolute;
    left: 13%;
}

.instructions_link {
    clip-path: inset(0 0 0 37px);
    right: 265px;
}

.instructions_link:hover {
    background-color: rgb(26,32,59);
}

.instructions_text {
    position: absolute;
    left: 19%;
}

.hide {
    display: none;
}

.score_page_hover:hover + .hide {
    display: block;
    background: rgb(26,32,59);
    border-radius: 35px;
    width: 412.5px;
    height: 275px;
    position: absolute;
    left: 252.5px;
    top: 177.5px;
    z-index: -1;
    clip-path: inset(0 37px 0 0);
}

.instructions_hover:hover + .hide {
    display: block;
    background: rgb(26,32,59);
    border-radius: 35px;
    width: 412.5px;
    height: 275px;
    position: absolute;
    right: 252.5px;
    top: 177.5px;
    z-index: -1;
    clip-path: inset(0 0 0 37px);
}

footer {
    position: absolute;
    top: 775px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 100%;
    background-color: rgb(34,46,92);
}

.footer_text {
    color: white;
    font-family: alexandria;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}