body {
  background-color: black;
}

.background_image {
  position: fixed;
  top: -20px;
  left: -20px;
  z-index: -2;
  display: block;
  background-image: url("score-sense-background.jpg");
  width: 1920px;
  height: 1200px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

* {
  margin: 0px;
  padding: 0;
}

a {
  border-radius: 25px;
  width: 200px;
  height: 100px;
  background-color: rgb(34,46,92);
  color: white;
  text-align: center;
  font-weight: 900;
  font-family: verdana;
  font-size: 40px;
  line-height: 92.5px;
  text-decoration: none;
}

.back {
  position: absolute;
  top: 65px;
  left: 65px;
}

.back:hover {
  background: rgb(26,32,59);
}

.logo {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  position: absolute;
  top: 637.5px;
  left: 505px;
}

.home_game {
  border-radius: 25px;
  width: 400px;
  height: 350px;
  background-color: rgb(34,46,92);
  color: rgba(255,87,87,255);
  text-align: center;
  line-height: 350px;
  position: absolute;
  top: 190px;
  left: 215px;
}

.visitor_game {
  border-radius: 25px;
  width: 400px;
  height: 350px;
  background-color: rgb(34,46,92);
  color: rgba(92,225,230,255);
  text-align: center;
  line-height: 350px;
  position: absolute;
  top: 190px;
  right: 215px;
}

.game_border {
  width: 32.5px;
  height: 350px;
  background-color: rgb(34,46,92);
  position: absolute;
  left: 582.5px;
  top: 190px;
}

.game_border2 {
  width: 32.5px;
  height: 350px;
  background-color: rgb(34,46,92);
  position: absolute;
  right: 582.5px;
  top: 190px;
}

.set_score {
  border-radius: 35px;
  width: 250px;
  height: 175px;
  background-color: rgb(34,46,92);
  position: absolute;
  top: 650px;
  left: 75px;
}

.home_set {
  border-radius: 25px;
  width: 130px;
  height: 150px;
  background-color: rgba(255,87,87,255);
  position: absolute;
  top: 662.5px;
  left: 87.5px;
}

.home_set_text {
  position: absolute;
  top: 25px;
  left: 27.5px;
  z-index: 10;
}

.visitor_set {
  border-radius: 25px;
  width: 130px;
  height: 150px;
  background-color: rgba(92,225,230,255);
  position: absolute;
  top: 662.5px;
  left: 182.5px;
}

.visitor_set_text {
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: 10;
}

.set_border {
  width: 12.5px;
  height: 175px;
  background-color: rgb(34,46,92);
  position: absolute;
  top: 650px;
  left: 193.75px;
}

.set_border2 {
  width: 20px;
  height: 150px;
  background-color: rgba(255,87,87,255);
  position: absolute;
  top: 662.5px;
  left: 177.5px;
}

.match_score {
  border-radius: 35px;
  width: 250px;
  height: 175px;
  background-color: rgb(34,46,92);
  position: absolute;
  top: 650px;
  right: 75px;
}

.visitor_match {
  border-radius: 25px;
  width: 130px;
  height: 150px;
  background-color: rgba(92,225,230,255);
  position: absolute;
  top: 662.5px;
  right: 87.5px;
}

.visitor_match_text {
  position: absolute;
  top: 25px;
  right: 27.5px;
  z-index: 10;
}

.home_match {
  border-radius: 25px;
  width: 130px;
  height: 150px;
  background-color: rgba(255,87,87,255);
  position: absolute;
  top: 662.5px;
  right: 182.5px;
}

.home_match_text {
  position: absolute;
  top: 25px;
  right: 50px;
  z-index: 10;
}

.match_border {
  width: 12.5px;
  height: 175px;
  background-color: rgb(34,46,92);
  position: absolute;
  top: 650px;
  right: 193.75px;
}

.match_border2 {
  width: 20px;
  height: 150px;
  background-color: rgba(255,87,87,255);
  position: absolute;
  top: 662.5px;
  right: 202.5px;
}


.home_winner_button {
  border-radius: 25px;
  border: 0px;
  width: 400px;
  height: 350px;
  position: absolute;
  top: 197.5px;
  left: 215px;
  cursor: pointer;
  background: transparent;
}

.visitor_winner_button {
  border-radius: 25px;
  border: 0px;
  width: 400px;
  height: 350px;
  position: absolute;
  top: 197.5px;
  right: 215px;
  cursor: pointer;
  background: transparent;
}

.undo_home_game_score1 {
  background-color: rgb(34,46,92);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 565px;
  left: 390px;
}

.undo_home_game_score2 {
  background-color: rgba(255,87,87,255);
  border-radius: 10px;
  width: 35px;
  height: 10px;
  position: absolute;
  top: 585px;
  left: 397.5px;
}

.undo_home_game_score_button {
  border-radius: 10px;
  border: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 565px;
  left: 390px;
  cursor: pointer;
  background: transparent;
}

.undo_visitor_game_score1 {
  background-color: rgb(34,46,92);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 565px;
  right: 390px;
}

.undo_visitor_game_score2 {
  background-color: rgba(92,225,230,255);
  border-radius: 10px;
  width: 35px;
  height: 10px;
  position: absolute;
  top: 585px;
  right: 397.5px;
}

.undo_visitor_game_score_button {
  border-radius: 10px;
  border: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 565px;
  right: 390px;
  cursor: pointer;
  background: transparent;
}

.undo_home_set_score1 {
  background-color: rgb(34,46,92);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 835px;
  left: 125px;
}

.undo_home_set_score2 {
  background-color: rgba(255,87,87,255);
  border-radius: 10px;
  width: 35px;
  height: 10px;
  position: absolute;
  top: 855px;
  left: 132.5px;
}

.undo_home_set_score_button {
  border-radius: 10px;
  border: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 835px;
  left: 125px;
  cursor: pointer;
  background: transparent;
}

.undo_visitor_set_score1 {
  background-color: rgb(34,46,92);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 835px;
  left: 225px;
}

.undo_visitor_set_score2 {
  background-color: rgba(92,225,230,255);
  border-radius: 10px;
  width: 35px;
  height: 10px;
  position: absolute;
  top: 855px;
  left: 232.5px;
}

.undo_visitor_set_score_button {
  border-radius: 10px;
  border: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 835px;
  left: 225px;
  cursor: pointer;
  background: transparent;
}

.undo_home_match_score1 {
  background-color: rgb(34,46,92);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 835px;
  right: 225px;
}

.undo_home_match_score2 {
  background-color: rgba(255,87,87,255);
  border-radius: 10px;
  width: 35px;
  height: 10px;
  position: absolute;
  top: 855px;
  right: 232.5px;
}

.undo_home_match_score_button {
  border-radius: 10px;
  border: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 835px;
  right: 225px;
  cursor: pointer;
  background: transparent;
}

.undo_visitor_match_score1 {
  background-color: rgb(34,46,92);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 835px;
  right: 125px;
}

.undo_visitor_match_score2 {
  background-color: rgba(92,225,230,255);
  border-radius: 10px;
  width: 35px;
  height: 10px;
  position: absolute;
  top: 855px;
  right: 132.5px;
}

.undo_visitor_match_score_button {
  border-radius: 10px;
  border: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 835px;
  right: 125px;
  cursor: pointer;
  background: transparent;
}

.hide {
  display: none;
}

.home_winner_hover:hover + .hide {
  display: block;
  background: rgba(255,87,87,255);
  border-radius: 35px;
  width: 457.5px;
  height: 375px;
  position: absolute;
  left: 202.5px;
  top: 177.5px;
  z-index: -1;
  clip-path: inset(0 32px 0 0);
}

.visitor_winner_hover:hover + .hide {
  display: block;
  background: rgba(92,225,230,255);
  border-radius: 35px;
  width: 457.5px;
  height: 375px;
  position: absolute;
  right: 202.5px;
  top: 177.5px;
  z-index: -1;
  clip-path: inset(0 0 0 32px);
}

.undo_home_game_score_hover:hover + .hide {
  display: block;
  background: rgba(255,87,87,255);
  border-radius: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 385px;
  top: 560px;
  z-index: -1;
}

.undo_visitor_game_score_hover:hover + .hide {
  display: block;
  background: rgba(92,225,230,255);
  border-radius: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 385px;
  top: 560px;
  z-index: -1;
}

.undo_home_set_score_hover:hover + .hide {
  display: block;
  background: rgba(255,87,87,255);
  border-radius: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 120px;
  top: 830px;
  z-index: -1;
}

.undo_visitor_set_score_hover:hover + .hide {
  display: block;
  background: rgba(92,225,230,255);
  border-radius: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 220px;
  top: 830px;
  z-index: -1;
}

.undo_home_match_score_hover:hover + .hide {
  display: block;
  background: rgba(255,87,87,255);
  border-radius: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 220px;
  top: 830px;
  z-index: -1;
}

.undo_visitor_match_score_hover:hover + .hide {
  display: block;
  background: rgba(92,225,230,255);
  border-radius: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 120px;
  top: 830px;
  z-index: -1;
}

h3 {
  color: white;
  font-size: 75px;
  font-family: verdana;
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

h2 {
  font-size: 175px;
  font-family: verdana;
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

h1 {
  margin: 25px;
  font-size: 100px;
  font-family: alexandria;
  font-weight: 900;
  color: white;
  text-align: center;
}

input {
  border-radius: 50%;
  position: absolute;
  top: 600px;
  left: 500px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}