body {
    background-color: black;
}

.background_image {
    position: absolute;
    top: -100px;
    z-index: -2;
    display: block;
    width: 100%;
    filter: brightness(75%);
    mask-image: linear-gradient(to bottom, black 60%, transparent);
}

* {
    margin: 0px;
    padding: 0;
}

h1 {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    font-family: alexandria;
    font-weight: 900;
    color: rgb(220,220,220);
}

.small_logo {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.small_title {
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 30px;
    font-family: alexandria;
    font-weight: 900;
    color: rgb(220,220,220);
}

.home_button {
    background-color: transparent;
    border: 0;
    position: absolute;
    width: 250px;
    height: 40px;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
}

.link {
    height: 40px;
    color: rgb(220,220,220);
    background-color: transparent;
    text-align: center;
    font-weight: 900;
    font-family: verdana;
    font-size: 15px;
    position: absolute;
    top: 190px;
    text-decoration: none;
}

.home_link {
    width: 75px;
    top: 20px;
    right: 440px;
}

.home_link:hover {
    background-color: rgb(30,30,30);
}

.home_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17%;
}

.score_page_link {
    width: 125px;
    top: 20px;
    right: 290px;
}

.score_page_link:hover {
    background-color: rgb(30,30,30);
}

.score_page_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13%;
}

.instructions_link {
    width: 125px;
    top: 20px;
    right: 140px;
}

.instructions_link:hover {
    background-color: rgb(30,30,30);
}

.instructions_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9%;
}

.credits_link {
    width: 100px;
    top: 20px;
    right: 20px;
}

.credits_link:hover {
    background-color: rgb(30,30,30);
}

.credits_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
}

.game_score_head {
    width: 250px;
    height: 20px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.game_score_head_text {
    text-align: center;
    font-family: alexandria;
    font-size: 30px;
    color: rgb(220,220,220);
    font-weight: 900;
}

.home_game {
    width: 400px;
    height: 350px;
    background-color: rgb(30,30,30);
    color: rgb(145,0,0);
    text-align: center;
    line-height: 350px;
    position: absolute;
    top: 450px;
    left: 215px;
}

.visitor_game {
    width: 400px;
    height: 350px;
    background-color: rgb(30,30,30);
    color: rgb(51,76,125);
    color: rgb(51,76,125);
    text-align: center;
    line-height: 350px;
    position: absolute;
    top: 450px;
    right: 215px;
}

.set_score_head {
    width: 250px;
    height: 20px;
    position: absolute;
    top: 880px;
    left: 75px;
}

.set_score_head_text {
    text-align: center;
    font-family: alexandria;
    font-size: 20px;
    color: rgb(220,220,220);
    font-weight: 900;
}

.set_score {
    width: 250px;
    height: 175px;
    background-color: rgb(30,30,30);
    position: absolute;
    top: 910px;
    left: 75px;
}

.home_set {
    width: 130px;
    height: 150px;
    background-color: rgb(145,0,0);
    position: absolute;
    top: 922.5px;
    left: 87.5px;
}

.home_set_text {
    position: absolute;
    top: 25px;
    left: 27.5px;
    z-index: 10;
}

.visitor_set {
    width: 130px;
    height: 150px;
    background-color: rgb(51,76,125);
    position: absolute;
    top: 922.5px;
    left: 182.5px;
}

.visitor_set_text {
    position: absolute;
    top: 25px;
    left: 50px;
    z-index: 10;
}

.set_border {
    width: 12.5px;
    height: 175px;
    background-color: rgb(30,30,30);
    position: absolute;
    top: 910px;
    left: 193.75px;
}

.set_border2 {
    width: 20px;
    height: 150px;
    background-color: rgb(145,0,0);
    position: absolute;
    top: 922.5px;
    left: 177.5px;
}

.match_score_head {
    width: 250px;
    height: 20px;
    position: absolute;
    top: 880px;
    right: 75px;
}

.match_score_head_text {
    text-align: center;
    font-family: alexandria;
    font-size: 20px;
    color: rgb(220,220,220);
    font-weight: 900;
}

.match_score {
    width: 250px;
    height: 175px;
    background-color: rgb(30,30,30);
    position: absolute;
    top: 910px;
    right: 75px;
}

.visitor_match {
    width: 130px;
    height: 150px;
    background-color: rgb(51,76,125);
    position: absolute;
    top: 922.5px;
    right: 87.5px;
}

.visitor_match_text {
    position: absolute;
    top: 25px;
    right: 27.5px;
    z-index: 10;
}

.home_match {
    width: 130px;
    height: 150px;
    background-color: rgb(145,0,0);
    position: absolute;
    top: 922.5px;
    right: 182.5px;
}

.home_match_text {
    position: absolute;
    top: 25px;
    right: 50px;
    z-index: 10;
}

.match_border {
    width: 12.5px;
    height: 175px;
    background-color: rgb(30,30,30);
    position: absolute;
    top: 910px;
    right: 193.75px;
}

.match_border2 {
    width: 20px;
    height: 150px;
    background-color: rgb(145,0,0);
    position: absolute;
    top: 922.5px;
    right: 202.5px;
}


.home_winner_button {
    border: 0px;
    width: 400px;
    height: 350px;
    position: absolute;
    top: 450px;
    left: 215px;
    cursor: pointer;
    background: transparent;
}

.visitor_winner_button {
    border: 0px;
    width: 400px;
    height: 350px;
    position: absolute;
    top: 450px;
    right: 215px;
    cursor: pointer;
    background: transparent;
}

.undo_home_game_score1 {
    background-color: rgb(30,30,30);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 825px;
    left: 390px;
}

.undo_home_game_score2 {
    background-color: rgb(145,0,0);
    width: 35px;
    height: 10px;
    position: absolute;
    top: 845px;
    left: 397.5px;
}

.undo_home_game_score_button {
    border: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 825px;
    left: 390px;
    cursor: pointer;
    background: transparent;
}

.undo_visitor_game_score1 {
    background-color: rgb(30,30,30);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 825px;
    right: 390px;
}

.undo_visitor_game_score2 {
    background-color: rgb(51,76,125);
    width: 35px;
    height: 10px;
    position: absolute;
    top: 845px;
    right: 397.5px;
}

.undo_visitor_game_score_button {
    border: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 825px;
    right: 390px;
    cursor: pointer;
    background: transparent;
}

.undo_home_set_score1 {
    background-color: rgb(30,30,30);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1095px;
    left: 125px;
}

.undo_home_set_score2 {
    background-color: rgb(145,0,0);
    width: 35px;
    height: 10px;
    position: absolute;
    top: 1115px;
    left: 132.5px;
}

.undo_home_set_score_button {
    border: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1095px;
    left: 125px;
    cursor: pointer;
    background: transparent;
}

.undo_visitor_set_score1 {
    background-color: rgb(30,30,30);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1095px;
    left: 225px;
}

.undo_visitor_set_score2 {
    background-color: rgb(51,76,125);
    width: 35px;
    height: 10px;
    position: absolute;
    top: 1115px;
    left: 232.5px;
}

.undo_visitor_set_score_button {
    border: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1095px;
    left: 225px;
    cursor: pointer;
    background: transparent;
}

.undo_home_match_score1 {
    background-color: rgb(30,30,30);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1095px;
    right: 225px;
}

.undo_home_match_score2 {
    background-color: rgb(145,0,0);
    width: 35px;
    height: 10px;
    position: absolute;
    top: 1115px;
    right: 232.5px;
}

.undo_home_match_score_button {
    border: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1095px;
    right: 225px;
    cursor: pointer;
    background: transparent;
}

.undo_visitor_match_score1 {
    background-color: rgb(30,30,30);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1095px;
    right: 125px;
}

.undo_visitor_match_score2 {
    background-color: rgb(51,76,125);
    width: 35px;
    height: 10px;
    position: absolute;
    top: 1115px;
    right: 132.5px;
}

.undo_visitor_match_score_button {
    border: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1095px;
    right: 125px;
    cursor: pointer;
    background: transparent;
}

.hide {
    display: none;
}

.home_winner_hover:hover + .hide {
    display: block;
    background: rgb(145,0,0);
    width: 457.5px;
    height: 375px;
    position: absolute;
    left: 202.5px;
    top: 437.5px;
    z-index: -1;
    clip-path: inset(0 32px 0 0);
}

.visitor_winner_hover:hover + .hide {
    display: block;
    background: rgb(51,76,125);
    width: 457.5px;
    height: 375px;
    position: absolute;
    right: 202.5px;
    top: 437.5px;
    z-index: -1;
    clip-path: inset(0 0 0 32px);
}

.undo_home_game_score_hover:hover + .hide {
    display: block;
    background: rgb(145,0,0);
    width: 60px;
    height: 60px;
    position: absolute;
    left: 385px;
    top: 820px;
    z-index: -1;
}

.undo_visitor_game_score_hover:hover + .hide {
    display: block;
    background: rgb(51,76,125);
    width: 60px;
    height: 60px;
    position: absolute;
    right: 385px;
    top: 820px;
    z-index: -1;
}

.undo_home_set_score_hover:hover + .hide {
    display: block;
    background: rgb(145,0,0);
    width: 60px;
    height: 60px;
    position: absolute;
    left: 120px;
    top: 1090px;
    z-index: -1;
}

.undo_visitor_set_score_hover:hover + .hide {
    display: block;
    background: rgb(51,76,125);
    width: 60px;
    height: 60px;
    position: absolute;
    left: 220px;
    top: 1090px;
    z-index: -1;
}

.undo_home_match_score_hover:hover + .hide {
    display: block;
    background: rgb(145,0,0);
    width: 60px;
    height: 60px;
    position: absolute;
    right: 220px;
    top: 1090px;
    z-index: -1;
}

.undo_visitor_match_score_hover:hover + .hide {
    display: block;
    background: rgb(51,76,125);
    width: 60px;
    height: 60px;
    position: absolute;
    right: 120px;
    top: 1090px;
    z-index: -1;
}

h3 {
    color: rgb(220,220,220);
    font-size: 75px;
    font-family: verdana;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

h2 {
    font-size: 175px;
    font-family: verdana;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.startButton {
    position: absolute;
    top: 922.5px;
    left: 495px;
    background-color: rgb(30,30,30);
    border: 0;
    color: rgb(220,220,220);
    font-family: alexandria;
    font-size: 17.5px;
    font-weight: 900;
    cursor: pointer;
}

.startButton_hover:hover + .hide {
    display: block;
    width: 130px;
    height: 160px;
    position: absolute;
    top: 917.5px;
    left: 490px;
    background-color: rgb(220,220,220);
    z-index: -1;
}

.stopButton {
    position: absolute;
    top: 922.5px;
    right: 495px;
    background-color: rgb(30,30,30);
    border: 0;
    color: rgb(220,220,220);
    font-family: alexandria;
    font-size: 17.5px;
    font-weight: 900;
    cursor: pointer;
}

.stopButton_hover:hover + .hide {
    display: block;
    width: 130px;
    height: 160px;
    position: absolute;
    top: 917.5px;
    right: 490px;
    background-color: rgb(220,220,220);
    z-index: -1;
}

#feedbackElement {
    color: rgb(220,220,220);
    position: absolute;
    font-size: 20px;
    font-family: alexandria;
    top: 1105px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    text-align: center;
}

.clear_scores {
    background-color: rgb(30,30,30);
    width: 100px;
    height: 50px;
    position: absolute;
    top: 825px;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    cursor: pointer;
}

.clear_scores_text {
    color: rgb(220,220,220);
    text-align: center;
    top: 50%;
    font-size: 15px;
    font-family: alexandria;
    font-weight: 900;
}

.clear_scores_hover:hover + .hide {
    display: block;
    width: 110px;
    height: 60px;
    position: absolute;
    top: 820px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(220,220,220);
    z-index: -1;
}